[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
numpy = "*"
tensorflow = "2.5"
tensorflow-hub = "*"
certifi = "*"
pillow = "*"
scipy = "*"
opencv-python = "*"
pyqt5 = "*"
lxml = "*"
protobuf = "*"
matplotlib = "==3.2"

[dev-packages]

[requires]
python_version = "3.9"
