[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
numpy = "*"
tensorflow = "2.5"
tensorflow-hub = "*"
certifi = "*"
pillow = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
